{% extends 'annotation/base.html' %}
{% block menu %}
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'annotation:index' 1 %}">Unigrams</a></li>
            <li class="active"><a href="#">Revision</a></li>
            <li><a href="#contact">Tagset</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Reports <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
{% endblock menu %}
{% block content %}
    <div class="container">
        <form method="post" action="index.html">
            <div class="row">
                <div class="col-md-12 ">
                    {% if ambiguous_tokens %}
                        <div id="words" name="words" class="table-responsive"
                             style="overflow-y: auto; padding: 10px; height: 889px; visibility: visible;">
                            <table class="table table-condensed table table-hover"
                                   style="direction:rtl;font-size: x-large;">
                                <thead>
                                <tr>
                                    <td>رقم</td>
                                    <td>الكلمة</td>
                                    <td>POS</td>
                                    <td>CODA</td>
                                    <td>Segmentation</td>
                                    <td>التكرار</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for token in ambiguous_tokens %}
                                    <tr class='clickable-row'
                                        data-href="{% url 'annotation:ambiguous-detail' token.id %}">
                                        <td>{{ token.id }}</td>
                                        <td>{{ token.token_text }}</td>
                                        {% if token.default_pos %}
                                            <td> {{ token.default_pos }}</td>
                                        {% else %}
                                            {# <td class=text-success><span class="glyphicon glyphicon-ok" aria-hidden=true></span> Supported</td> #}
                                            <td class=text-danger><span
                                                    class="glyphicon glyphicon-remove" aria-hidden=true></span></td>
                                        {% endif %}
                                        {% if token.default_coda %}
                                            <td>{{ token.default_coda }}</td>
                                        {% else %}
                                            <td class=text-danger><span
                                                    class="glyphicon glyphicon-remove" aria-hidden=true></span></td>
                                        {% endif %}
                                        {% if token.default_segmentation %}
                                            <td>{{ token.default_segmentation }}</td>
                                        {% else %}
                                            <td class=text-danger><span
                                                    class="glyphicon glyphicon-remove" aria-hidden=true></span></td>
                                        {% endif %}
                                        <td>{{ token.freq }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        nothing
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
