{% extends 'annotation/base.html' %}
{% load split_string_on_spaces %}
{% block title %}
    {% if token %}
        {{ token }}
    {% else %}
        404
    {% endif %}
{% endblock title %}
{% block default-data %}
    {% if form %}
        <br/>
        <form class="form-inline" method="post" action="{% url 'annotation:detail' token.id %}" style="direction: rtl;">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group {% if form.default_coda.errors %}has-error{% endif %}">

                <label class="control-label" for="{{ form.default_coda.id_for_label }}">الكتابة الاصطلاحية:</label>
                {{ form.default_coda }}
                {% if form.default_coda.errors %}
                    <span id="helpBlock_coda" class="help-block">{{ form.default_coda.errors }}</span>
                {% endif %}

            </div>
            &nbsp;&nbsp;
            <div class="form-group {% if form.default_segmentation.errors %}has-error{% endif %}">
                <label class="control-label" for="{{ form.default_segmentation.id_for_label }}">التقطيع:</label>
                {{ form.default_segmentation }}
                {% if form.default_segmentation.errors %}
                    <span id="helpBlock_seg" class="help-block">{{ form.default_segmentation.errors }}</span>
                {% endif %}

            </div>
            &nbsp;&nbsp;
            <div id="rtl-support" class="form-group {% if form.default_pos.errors %}has-error{% endif %}">

                <label class="control-label" for="{{ form.default_pos.id_for_label }}">قسم الكلام:</label>
                {{ form.default_pos }}
                {#                <input autocomplete="off" class="typeahead" id="suggestionsTB" maxlength="15" name="default_pos"#}
                {#                       spellcheck="false" type="text"/>#}
                {% if form.default_pos.errors %}
                    <span id="helpBlock_pos" class="help-block">{{ form.default_pos.errors }}</span>
                {% endif %}
            </div>
            &nbsp;&nbsp;
            <div class="checkbox">
                <label for="{{ form.ambiguous.id_for_label }}">
                    {{ form.ambiguous }} ملتبس
                </label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-success" value="default">أحفظ كوسم إفتراضي</button>
        </form>
        <br/>
    {% else %}
        <div class="alert alert-success alert-dismissible" role="alert" style="direction: rtl;font-size: x-large;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>تم بنجاح!</strong> لقد تم حفظ الوسوم بنجاح.
        </div>
    {% endif %}
{% endblock default-data %}
{% block content %}
    <div class="container">
        {% if token and occurrences %}
            <br/><br/><br/>
            <div class="row">
                <div class="col-md-12 ">
                    <div id="words" name="words" class="table-responsive">
                        <table class="table table-condensed table table-striped"
                               style="direction:rtl;font-size: x-large;">
                            {% for tweet_text, position in occurrences %}
                                <tr>
                                    <td>
                                        {{ tweet_text|add_code_tag:position }}
                                    </td>

                                </tr>
                            {% endfor %}


                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <h3>There is no word with this ID</h3>
        {% endif %}
    </div>
{% endblock content %}
